@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot");
  src: url("../fonts/icomoon.eot") format("embedded-opentype"),
  url("../fonts/icomoon.ttf") format("truetype"),
  url("../fonts/icomoon.woff") format("woff"),
  url("../fonts/icomoon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: "icomoon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-change:before {
  content: "\e900";
}

.icon-check:before {
  content: "\e901";
}

.icon-checked:before {
  content: "\e902";
}

.icon-delete:before {
  content: "\e903";
}

.icon-email:before {
  content: "\e904";
}

.icon-menu:before {
  content: "\e905";
}

.icon-minus-circle:before {
  content: "\e906";
}

.icon-password:before {
  content: "\e907";
}

.icon-plus-circle:before {
  content: "\e908";
}

.icon-user:before {
  content: "\e909";
}

.icon-home:before {
  content: "\e90a";
}

.icon-checked-circle:before {
  content: "\e90b";
}

.icon-bell:before {
  content: "\e90c";
}

.icon-bell-o:before {
  content: "\e90d";
}

.icon-exclamation-triangle:before {
  content: "\e90e";
}

.icon-exclamation-circle:before {
  content: "\e90f";
}

.icon-exclamation:before {
  content: "\e910";
}

.icon-exclamation-up:before {
  content: "\e911";
}

.icon-exclamation-circle-up:before {
  content: "\e912";
}

.icon-file-image-o:before {
  content: "\e925";
  font-size: 40px;
}

.icon-calendar:before {
  content: "\e926";
}

.icon-calendar-check-o:before {
  content: "\e927";
}

.icon-calendar-plus-o:before {
  content: "\e928";
}

.icon-loan:before {
  content: "\e92a";
}

.icon-upload:before {
  content: "\e92b";
}

.icon-fa-fail-o:before {
  content: "\e92c";
}

.icon-mony:before {
  content: "\e92d";
}

.icon-fa-list:before {
  content: "\e92e";
}

.icon-fa-clock:before {
  content: "\e92f";
}

.icon-fa-history:before {
  content: "\e930";
}

.icon-plus-square-o:before {
  content: "\e931";
}

.icon-fa-check-square:before {
  content: "\e932";
}

.icon-file-xml-o:before {
  content: "\e929";
}

.icon-file-pdf-o:before {
  content: "\e933";
}
