@font-face {
	font-family: "Roboto";
	src: url("../fonts/Roboto-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@import 'font-awesome.less';

@color-white: #fff;
@color-black: #2b2e34;
@color-dark-gray: #636267;
@color-gray: #54585a;
@color-light-gray: #e3e3e3;
@color-main: #ee2737;
@color-lighter-main: lighten(@color-main,12%);
@color-darker-main: #c31e2a;
@color-success: #36bc74;
@color-warning: #ffbc3e;
@color-danger: #fd7a7c;

/* ----------------------------------------------
									HTML Resets
 ---------------------------------------------- */
html, body { width: 100%; }

body {
	font-family: 'Roboto', Calibri, Candara, helvetica;
	font-style: normal;
	background-color: @color-white;
	color: @color-gray;
	font-size: 16px;
}

header {
	height: 77px;
	& a:hover {
		font-weight: bold;
		margin-left: -1px;
	}
}

h1, h2, h3, h4 { font-weight: bold; }

h1 {
	font-size: 41px;
	color: @color-main;
	margin: 42px 0;
}

h2 { font-size: 25px; }

h3 { font-size: 18px; }

h4 { font-size: 14px; }

a {
	color: @color-main;
	text-decoration: none;
	&:hover {
		font-weight: bold;
	}
}

hr {
	border-top: 1px solid @color-light-gray;
	margin: 28px 0;
}

footer { padding: 49px 0 14px; }

/* ----------------------------------------------
									Bootstrap theme
 ---------------------------------------------- */
.control-label {
	font-size: 16px;
	color: @color-black;
	font-weight: bold;
	margin-bottom: 14px;
	padding: 0 10px;
	width: 100%;
	i {
		margin-left: 10px;
	}
}

.form-group {
	margin-bottom: 37px;
	padding-bottom: 0px;
	&.has-error {
	 .Select-control, input[type=text], .form-control {
		border-color: @color-danger;
	}
		.control-label {
			color: unset;
		}
	}
	.control-label span {
		font-size: 80%;
		font-weight: lighter;
		color: #777;
		margin-top: 5px;
	}
	.radio-group label {
		margin-bottom: 0;
		padding: 7px 0 8px;
	}
	p {
		color: red;
		color: #fa2b2e;
		font-size: 14px;
		margin: 0;
		padding: 6px 0 0;
		position: absolute;
	}
}

.form-control {
	margin: 0;
	height: 42px;
	box-shadow: none;
	line-height: 42px;
	border-radius: 2px;
	textarea& {
		line-height: 1.5em;
		padding: 12px;
	}
}

.form-readonly {
	color: @color-black;
	font-size: 14px;
	position: relative;
	padding: 11px 13px 0;
}

.loading-component {
	background-color: fade(@color-black,50%);
	color: @color-white;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 999;
	i {
		display: block;
		float: left;
		position: relative;
		top: 50%;
		left: 50%;
		margin: -32px 0 0 -32px;
	}
}

/* ---------- React-Select Component ---------- */
.Select-control {
	border-radius: 2px;
	height: 42px;
}

.Select-placeholder,
.Select--single > .Select-control .Select-value  {
	line-height: 42px;
}

.Select-input {
		line-height: 42px;
}

.Select--multi .Select-value {
	background-color: @color-light-gray;
	border-color: #eee;
	color: @color-black;
	&-icon {
		border-color: @color-white;
	}
}

/* ------------------ Tables ------------------ */
.table.table-striped {
	border: 0;
	box-shadow: none;
	margin-bottom: 25px;
	thead > tr > th {
		background-color: @color-light-gray;
		text-align: center;
		border: 0;
		color: #4a4a4a;
		border-left: 1px solid #999;
		vertical-align: middle;
		&:first-child {
			border-left: none;
		}
	}
	tbody > tr {
		> td {
			border-left: 1px solid #999;
			border-top: 1px solid #e4e4e4;
			&:first-child {
				border-left: none;
			}
		}
		&:nth-of-type(odd) {
			background-color: #fff;
		}
		&:nth-of-type(even) {
			background-color: #f9f9f9;
			background-color: #f0f1f5;
		}
	}
}

.table-well {
	margin-bottom: 25px;
}

/* -------------- Upper nav-tabs -------------- */
.navMain {
	background-color: @color-light-gray;
	.nav-tabs {
		border: none;
		> li {
			margin: 0;
			a {
				background-color: transparent;
				border: none;
				span {
					display: inline-block;
					font-weight: bold;
					background-color: transparent;
					color: @color-black;
					padding: 0;
					font-size: 18px;
					border: 0 solid transparent;
					border-top-width: 2px;
					border-bottom-width: 2px;
					&:active, &:hover, &:focus {
						background-color: transparent;
						outline: none;
						color: @color-black;
					}
				}
			}
			& a[href]:hover, &.active a, &.active a:hover, &.active span {
				background-color: transparent;
				border: none;
				span {
					color: @color-main;
					border-top: 2px solid transparent;
					border-bottom: 2px solid;
				}
			}
		}
	}
}

/* ------------ Secondary nav-tabs ------------ */
.tabs2 .nav-tabs {
	margin-bottom: 42px;
	text-align: center;
	> li {
			border: 1px solid transparent;
			float: none;
			display: inline-block;
			margin-bottom: -2px;
			&:last-child::after { content: unset; }
			&::after {
				width: 1px;
				content: "";
				height: 28px;
				position: absolute;
				border-right: 1px solid @color-light-gray;
				top: 2px;
				display: inline-block;
				left: 100%;
			}
		a {
			color: @color-dark-gray;
			font-size: 25px;
			font-weight: bold;
			padding: 0 0 7px;
			margin: 0 32px;
			border: none;
			&:hover, &:active, &:focus { background-color: transparent; outline: none; }
		}
		&.disabled{
			&:active, &:hover, &:focus {
				border: 1px solid transparent;
				a {
					color: @color-dark-gray;
				}
			}
			&.active a {
				color: @color-main;
			}
		}
		&:active, &:hover, &:focus {
			a {
				color: @color-main;
				&:active, &:hover, &:focus {
					outline: none;
				}
			}
		}
		&.active {
			a, a:active, a:focus, a:hover {
				outline: none;
				background-color: @color-white;
				border-color: transparent;
				border-bottom: @color-main;
				border-image: none;
				border-style: solid;
				border-width: 0 0 4px;
				color: @color-main;
				cursor: default;
			}
		}
	}
}

/* ----------------- Buttons ----------------- */
.btn {
	font-size: 22px;
	padding: 14px 30px;
	line-height: 22px;
	border: transparent;
	border-radius: 2px;
	transition: background-color 0.2s ease-out;
}

.btn-group {
	.btn {
		border-left: 1px solid @color-light-gray;
		&:first-child {
			border-color: transparent;
		}
	}
}

.btn-sm {
	font-size: 14px;
	padding: 6px 35px;
}

.btn-default {
	background-color: @color-light-gray;
	color: @color-black;
	&:active, &:focus, &:hover, &:hover:focus, &:active:focus  {
		background-color: darken(@color-light-gray, 10%);
//		color: @color-white;
	}
}

.btn-info {
	background-color: @color-dark-gray;
	color: @color-white;
	&:active, &:focus, &:hover, &:hover:focus, &:active:focus  {
		background-color: @color-black;
		color: lighten(@color-light-gray, 10%);
		outline: none;
	}
}

.btn-link {
	color: @color-main;
	&:active, &:focus, &:hover {
		color: lighten(@color-main, 10%);
		outline: none;
	}
}

.btn-primary {
	background-color: @color-main;
	color: @color-white;
	font-weight: bold;
	&[disabled] {
		&, &:active, &:focus, &:hover {
			background-color: @color-light-gray;
		} 
	} 
	&:active, &:hover, &:focus, &:hover:focus, &:active:focus {
		background-color: @color-darker-main;
		outline: none;
	}
	&:active:focus {
		background-color: @color-main;
	}
}

/* ---------------- Pagination ---------------- */
.pagination {
	margin: 0;
	margin-bottom: 28px;
	background: @color-white;
	> li a:hover, > li a:active {
		border-color: @color-light-gray;
		background-color: @color-light-gray;
		color: @color-white;
		font-weight: normal;
	}
	> li a:hover, > li.active a, > li.active a:hover, > li.active a:active, > li.active a:focus {
		border-color: @color-gray;
		background-color: @color-light-gray;
	}
	> li > a, > li > span {
		border-color: @color-gray;
		color: @color-light-gray;
		text-decoration: none;
		padding: 6px 13px;
		font-size: 14px;
		&:hover {
			color: @color-gray;
		}
	}
}

/* -----------------------------------------------
								Custom components
----------------------------------------------- */

/* -------------- Alert Component ------------- */
.alert-npm {
	&.alert-show { display: block; }
	&.alert-hide { display: none; }
	.alert-background {
		background-color: rgba(0, 0, 0, .5);
		left: 0px;
		position: fixed;
		top: 0px;
		height: 100%;
		width: 100%;
		z-index: 999;
		overflow-y: auto;
	}
	.alert-container-message {
		background-color: #fff;
		margin: 70px auto 20px;
		width: 500px;
		z-index: 1000;
	}
	.alert-header {
		display: block;
		padding: 21px 21px 0;
		width: 100%;
		.alert-icon-close {
			cursor: pointer;
			font-size: 21px;
		}
	}
	.alert-body {
		display: block;
		padding: 0 28px;
		.radio {
			line-height: 60px;
			input[type=radio] {
				position: relative;
				margin: 0;
			}
		}
	}
	.alert-footer {
		padding: 21px 0 49px;
		.btn {
			margin-right: 10px;
			&:last-child {
				margin: 0;
			}
		}
	}
}

.requerido {
	color: @color-main;
	font-size: 10px;
	vertical-align: middle;
}

.montoCredito {
	font-size: 35px;
	font-weight: bold;
	color: @color-black;
}

.montoError {
	font-size: 20px;
	font-weight: bold;
	color: @color-main;
	white-space: nowrap;
}

.icon-circle {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	border: 3px solid limegreen;
	margin: 0 auto 21px;
	position: relative;
	.icon-check-container {
		height: 30px;
		width: 55px;
		position: absolute;
		left: 20px;
		top: 25px;
		transform: rotate(-45deg);
		.icon-check {
			border-left: 5px solid limegreen;
			border-bottom: 5px solid limegreen;
			width: 0;
			height: 0;
			transition: height 0.2s ease, width 0.2s 0.3s cubic-bezier(.4,1,.5,1);
			&.animate {
				height: 30px;
				width: 55px;
			}
		}
	}
}

#creaSolicitudes .nav.nav-tabs,
#busquedaSolicitudes .nav.nav-tabs {
	display: none;
}

.scroll-tabla-solicitudes {
	max-height: 200px;
	overflow: auto;
	.tabla-solicitudes {
		margin-left: 0;
	}
}

.tabla-solicitudes {
	width: 100%;
	margin-left: 10px;
	tr td {
		width: 1%;
		padding: 10px;
		border-bottom: 1px solid #e7e7e7;
		transition: background-color 0.3s ease-in-out;
		i {
			padding: 3px 5px;
		}
	}
	tr:hover.clickable {
		cursor: pointer;
		background-color: #e7e7e7;
	}
}

.btn-refresh {
	padding: 6px 22px 6px 12px;
}

.progress-indicator {
	display: block;
	margin: 56px auto;
	max-width: 877px;
	width: 100%;
}
/* -----------------------------------------------
								Media Queries
----------------------------------------------- */

@media (max-width:991px) {
	/* ------------ Secondary nav-tabs ------------ */
	.tabs2 .nav-tabs > li a {
		font-size: 23px;
		margin: 0 21px;
	}
}

@media (min-width:992px) and (max-width:1199px) {
	.montoCredito {
		font-size: 31px;
	}
}

/* -----------------------------------------------
								    Modifiers
----------------------------------------------- */

/* ----------------- Spacers ----------------- */
.mb5  { margin-bottom:  5px; }

.mb14 { margin-bottom: 14px; }

.mb19 { margin-bottom: 19px; }

.mb25 { margin-bottom: 25px; }

.mb42 { margin-bottom: 42px; }

.mb56 { margin-bottom: 56px; }

.mb70 { margin-bottom: 70px; }

/* ----------------- Modifiers ---------------- */
.small, small {
	font-size: 80%;
	font-weight: lighter;
}

.text-success { color: @color-success; }

.text-warning { color: @color-warning; }

.text-danger { color: @color-danger; }
